{% extends 'base.html.twig' %}

{% block title %}Galerie - Clairinette_{% endblock %}

{% block body %}

    {% for art in arts %}
        <div class="marge">
            <img src="/art/images/{{ art.pictureLink }}">
        </div>
    {% endfor %}

{% endblock %}
