/* .offcanvas-backdrop{
    display: none !important;
} */

@media (min-width:1200px) { /*à partir de 1200px la nav est ouverte voir js*/
    .btn-close {
        display: none;
    }
    #offcanvasNavbar {
        width: 300px;
    }
    .marge {
        padding: 50px 50px 0 350px;
    }
}