.offcanvas-backdrop{
    display: none;
}

@media (min-width:1200px) { /*à partir de 1200px la nav est ouverte voir js*/
    .btn-close {
        display: none;
    }
    #offcanvasNavbar {
        width: 300px;
    }
}